main{
    display: flex;
}
.green, .blue, .red {
    padding: 10px;
    border: solid 2px black;
    color: white;
}
.green{
    background-color: green;
}

.blue{
    background-color: blue;
}
.red{
    background-color: red;
}






.green2, .blue2, .red2 {
    padding: 10px;
    border: solid 2px black;
    color: white;
}
.green2{
    background-color: green;
}

.blue2{
    background-color: blue;
}
.red2{
    background-color: red;
}
@media (max-width:767px){
    .green2{
        width: 10%;
    }
    .blue2{
        width: 80%;
    }
    .red2{
        width: 100%;
    }
}
@media (min-width:767px) and (max-width:990px){
    .green2{
        width: 20%;
    }
    .blue2{
        width: 35%;
    }
    .red2{
        width: 50%;
    }
}
@media (min-width:991px) and (max-width:1204px){
    .green2{
        width: 45%;
    }
    .red2{
        width: 20%;
    }
    .blue2{
        width: 35%;
    }
}
@media (min-width:1205px){
    .green2{
        width: 100%;
    }
    .blue2{
        width: 70%;
    }
    .red2{
        width: 10%;
    }
}