.one,.two,.three,.four,.five,.six,.seven,.eight,.nine,.ten{
background-color: cornflowerblue;
width: 100%;
border: solid 1px white;
padding: 10px 0px;
box-sizing: border-box;
}
.l1,.l2,.l3,.l4,.l5{
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    justify-content: center;
}
@media (max-width:428px){
    .three,.four,.six,.seven{
        width: 50%;
    }
    .l2,.l4{
        flex-direction: row;
    }
    .eight{
        width: 20%;
        align-self: flex-end;
    }
}
@media (min-width:428px) and (max-width:693px){
    .three,.five,.nine,.ten,.three,.one,.two,.eight{
        width: 20%;
    }
    .four{
        width: 80%;
    }
    .one{
        align-self: flex-start;
    }
    .two{
        align-self: flex-end;
    }
    .l2,.l4{
        flex-direction: row;
    }
    .eight{
        align-self: flex-end;
    }
}
@media (min-width: 694px){
    .one,.two{
        width: 80%;
    }
    .one{
        align-self: flex-start;
    }
    .two{
        align-self: flex-end;
    }
    .l2{
        width: 50%;
        flex-direction: row;
    }
    .five,.six,.seven{
        align-self: flex-end;
    }
    .five{
        width: 90%;
    }
    .six{
        width: 85%;
    }
    .seven{
        width: 93%;
    }
    .nine,.ten{
        width: 20%;
    }
    .ten{
        align-self: flex-end;
    }
}